

<div class="menu">
    <input class="input-nav" type="checkbox" id="toggle" />
    <label id="show-menu" for="toggle">
        <div class="btn-nav">
            <i  class="material-icons md-36 toggleBtn menuBtn"> 
                <img src="{{ asset('img/chakra.png') }}" alt="icon brand menu" class="brand ">
            </i>
            <i class="material-icons md-36 toggleBtn closeBtn">
                <img src="{{ asset('img/close.png') }}" alt="icon close menu" class="brand">
            </i>
        </div>
    
       
        <a href="/" class="btn-nav">
            <img src ="{{ asset('img/home.png') }}" alt="icon menu home" class="material-icons md-36">
        </a>

        <a href="/" class="btn-nav">
            <img src ="{{ asset('img/chat.png') }}" alt="icon menu chat" class="material-icons md-36">
        </a>

        <a href="/" class="btn-nav">
            <img src ="{{ asset('img/profil.png') }}" alt="icon menu profil" class="material-icons md-36">
        </a>

        <a href="/" class="btn-nav">
            <img src ="{{ asset('img/setting.png') }}" alt="icon menu setting" class="material-icons md-36">
        </a>

        <a href="/" class="btn-nav">
            <img src ="{{ asset('img/search.png') }}" alt="icon menu search" class="material-icons md-36">
        </a>
 
  </label>
</div>